#Analisando as Vendas

In [21]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
alucar = pd.read_csv('alucar.csv')
#checar dados nulos no arquivo
print(f'Dados nulos totais: {alucar.isna().sum().sum()}')
#Alterando o type do alucar(mes(object => date ))
alucar['mes'] = pd.to_datetime(alucar['mes'])
alucar.dtypes

##Analisando

In [ ]:
#Lineplot mostra um gráfico com relação de linha crescente aos dados apresentados
sns.lineplot(x='mes',y='vendas', data=alucar)

In [ ]:
#Como personalizar e melhorar a visualização do gráfico
sns.set_palette('Accent')
sns.set_style('darkgrid')
grafico = sns.lineplot(x='mes',y='vendas', data=alucar)

#alterar a dimensão do gráfico e o título
grafico.figure.set_size_inches(12,6)
grafico.set_title('Vendas Alucar de 2017/18', fontsize=18, loc='left')

#localizar os Eixos X e Y e atribuir nomes
grafico.set_xlabel('Período', fontsize = 14)
grafico.set_ylabel('Vendas', fontsize = 14)
grafico = grafico

In [48]:
#Registrando os aumentos de vendas em uma nova coluna
alucar['Aumento'] = alucar['vendas'].diff()
alucar.head(10)

         mes  vendas  Aumento
0 2017-01-31      10      NaN
1 2017-02-28      20     10.0
2 2017-03-31      33     13.0
3 2017-04-30      47     14.0
4 2017-05-31      63     16.0
5 2017-06-30      81     18.0
6 2017-07-31     101     20.0
7 2017-08-31     124     23.0
8 2017-09-30     148     24.0
9 2017-10-31     174     26.0